{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4">{{ legend }}</legend>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- Upload Csv -->
                <div class="form-group">
                    {{ form.dataset.label() }}
                    <!-- Helper -->
                    <a class="float-right m-1" href="#csvModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {{ form.dataset(class="form-control-file") }}
                    {% if form.dataset.errors %}
                        {% for error in form.dataset.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- Title -->
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }} <small class="text-muted">(Optional)</small>
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Description -->
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }} <small
                        class="text-muted">(Optional)</small>
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- p -->
                <div class="form-group">
                    {{ form.p.label(class="form-control-label") }}
                    <!-- Helper -->
                    <a class="float-right m-1" href="#pModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.p.errors %}
                        {{ form.p(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.p.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.p(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- q -->
                <div class="form-group">
                    {{ form.q.label(class="form-control-label") }}
                    <!-- Helper -->
                    <a class="float-right m-1" href="#qModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.q.errors %}
                        {{ form.q(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.q.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.q(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Library -->
                <div class="form-group">
                    {{ form.library.label(class="form-control-label") }}
                    <!-- Helper -->
                    <a class="float-right m-1" href="#libraryModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.library.errors %}
                        {{ form.library(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.library.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.library(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <!-- private? -->
                <div class="form-group">
                    {% if form.is_private.errors %}
                        {{ form.is_private() }}
                        <div class="invalid-feedback">
                            {% for error in form.is_private.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.is_private(class="") }}
                    {% endif %}
                    {{ form.is_private.label(class="form-control-label") }}
                    <i class="fa fa-lock"></i> <small class="text-muted">Check this box if you don't want other users to
                    access this post.</small>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <!-- Upload Dataset Modal -->
    <div class="modal fade" id="csvModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Dataset</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> Currently the only type of file admitted is <b>csv</b>.
                        It should contain <b>one column</b> with all the values
                        of the observed univariate process, with no header row.
                    </p>
                    <ul>
                        <li><i class="fa fa-download mr-2"></i><a
                                href="{{ url_for('posts.download_dataset', filename=0) }}">Example csv file</a></li>
                        <li><i class="fa fa-link mr-2"></i><a href="{{ url_for('posts.generate_dataset') }}">Create a
                            custom ARMA Dataset</a></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- p Modal -->
    <div class="modal fade" id="pModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Order p</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> The <b>order</b> of the <b>Autoregressive</b> process you want to analyse.
                        For example, if you consider the uploaded csv to be generated by an ARMA(4,1) process you have
                        to write here:
                        $$ 4 $$
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- q Modal -->
    <div class="modal fade" id="qModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Order q</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> The <b>order</b> of the <b>Moving Average</b> process you want to analyse.
                        For example, if you consider the uploaded csv to be generated by an ARMA(4,1) process you have
                        to write here:
                        $$ 1 $$
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Library Modal -->
    <div class="modal fade" id="libraryModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Library</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> The default and recommended library is <b><a href="https://www.statsmodels.org">Statsmodels</a></b>.
                    </p>
                    <p><i class="fa fa-warning"></i> WARNING: We are currently developing also a custom library (labeled
                        "<b>Experimental</b>") but it is still unstable and has been tested only for ARMA models with variance 1.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}