{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <p>With this tool you can generates a csv file of a realization of a custom ARMA(p,q) process that you
                    can use for the SOWA <b>Analysis</b> feature.</p>
                <!-- AR parameters -->
                <div class="form-group">
                    {{ form.ar_params.label(class="form-control-label") }}
                    <small class="text-muted">Insert all coefficients separated by a comma (e.g. "0.3,0.001")</small>
                    <!-- Helper -->
                    <a class="float-right m-1" href="#ARParamsModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.ar_params.errors %}
                        {{ form.ar_params(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ar_params.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ar_params(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- MA parameters -->
                <div class="form-group">
                    {{ form.ma_params.label(class="form-control-label") }}
                    <small class="text-muted">Insert all coefficients separated by a comma (e.g. "0.3,0.001")</small>
                    <!-- Helper -->
                    <a class="float-right m-1" href="#MAParamsModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.ma_params.errors %}
                        {{ form.ma_params(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ma_params.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ma_params(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Variance -->
                <div class="form-group">
                    {{ form.variance.label(class="form-control-label") }}
                    <small class="text-muted">Insert a positive float number.</small>
                    <!-- Helper -->
                    <a class="float-right m-1" href="#varianceModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.variance.errors %}
                        {{ form.variance(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.variance.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.variance(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- t_max -->
                <div class="form-group">
                    {{ form.t_max.label(class="form-control-label") }} <small class="text-muted">Insert an integer
                    between 100 and 10000.</small>
                    <!-- Helper -->
                    <a class="float-right m-1" href="#tmaxModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.t_max.errors %}
                        {{ form.t_max(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.t_max.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.t_max(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Seed -->
                <div class="form-group">
                    {{ form.seed.label(class="form-control-label") }} <small class="text-muted">Insert an integer
                    between 0 and 4294967295.</small>
                    <!-- Helper -->
                    <a class="float-right m-1" href="#seedModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.seed.errors %}
                        {{ form.seed(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.seed.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.seed(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <!-- Submit button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <!-- AR Modal -->
    <div class="modal fade" id="ARParamsModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">AR parameters</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> The AR parameters are the <b>regression coefficients</b> of the Autoregressive Moving Average
                        process you want to simulate.
                        For example, if the ARMA(2,1) process you want to generate is the following:
                        $$ Y_t = 0.33 Y_{t-1} + 0.5 Y_{t-2} + U_t + 0.2 U_{t-1}\,,$$
                        you are required to insert in this field
                        $$0.33,0.5$$
                        Leave this field empty if you want to simulate a Moving Average process.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MA Modal -->
    <div class="modal fade" id="MAParamsModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">MA parameters</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> The MA parameters are the <b>memory weights</b> of the Autoregressive Moving Average process you
                        want to simulate.
                        For example, if the ARMA(2,1) process you want to generate is the following:
                        $$ Y_t = 0.33 Y_{t-1} + 0.5 Y_{t-2} + U_t + 0.2 U_{t-1}\,,$$
                        you are required to insert in this field
                        $$0.2$$
                        Leave this field empty if you want to simulate an Autoregressive process.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Variance Modal -->
    <div class="modal fade" id="varianceModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Variance</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> The variance of the <b>white noise</b> (i.e. \(U_t\) ) of the Autoregressive Moving Average
                        process you want to simulate. If you want a standard weak white noise, leave this field to \( 1
                        \).
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Number of samples Modal -->
    <div class="modal fade" id="tmaxModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Number of samples</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>The number of samples included in the <b>generated dataset</b>. Notice that a small number of
                        samples may cause
                        the maximization algorithm not to converge leading to a failure.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Seed Modal -->
    <div class="modal fade" id="seedModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Random seed</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>This is the seed used by the <b>random functions</b> in order to generate the sample data. If you
                        want to replicate the data, remember the seed you used.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
