{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <p> This tool allows you to obtain a graphical feedback on the performances of the parameter
                    estimation library. Compile the following form and SOWA will generate several random ARMA datasets
                    and perform for each of them a <b>parameter estimation</b>. Then a histogram of the <b>estimated
                        parameters</b> will be plotted (in blue) and compared to the <b>true value of the parameter</b>
                    (red dashed line).
                    The density kernel estimation is also represented (in magenta).
                </p>
                <!-- AR parameters -->
                <div class="form-group">
                    {{ form.ar_params.label(class="form-control-label") }}
                    <small class="text-muted">Insert all coefficients separated by a comma (e.g. "0.3,0.001")</small>
                    <!-- Helper -->
                    <a class="float-right m-1" href="#ARParamsModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.ar_params.errors %}
                        {{ form.ar_params(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ar_params.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ar_params(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- MA parameters -->
                <div class="form-group">
                    {{ form.ma_params.label(class="form-control-label") }}
                    <small class="text-muted">Insert all coefficients separated by a comma (e.g. "0.3,0.001")</small>
                    <!-- Helper -->
                    <a class="float-right m-1" href="#MAParamsModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.ma_params.errors %}
                        {{ form.ma_params(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ma_params.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ma_params(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Variance -->
                <div class="form-group">
                    {{ form.variance.label(class="form-control-label") }}
                    <small class="text-muted">Insert a positive float number.</small>
                    <!-- Helper -->
                    <a class="float-right m-1" href="#varianceModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.variance.errors %}
                        {{ form.variance(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.variance.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.variance(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- t_max -->
                <div class="form-group">
                    {{ form.t_max.label(class="form-control-label") }}
                    <small class="text-muted">Insert an integer between 100 and 10000.</small>
                    <!-- Helper -->
                    <a class="float-right m-1" href="#tmaxModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.t_max.errors %}
                        {{ form.t_max(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.t_max.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.t_max(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Library -->
                <div class="form-group">
                    {{ form.library.label(class="form-control-label") }}
                    <!-- Helper -->
                    <a class="float-right m-1" href="#libraryModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.library.errors %}
                        {{ form.library(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.library.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.library(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- n -->
                <div class="form-group">
                    {{ form.n.label(class="form-control-label") }}
                    <small class="text-muted">Insert an integer between 10 and 100.</small>
                    <!-- Helper -->
                    <a class="float-right m-1" href="#nModal" data-toggle="modal">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                    {% if form.n.errors %}
                        {{ form.n(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.n.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.n(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <!-- Submit button -->
            <div class="form-group m-1">
                {{ form.submit(class="btn btn-outline-info") }}
{#                <button class="btn btn-primary" type="button" disabled>#}
{#                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Running...#}
{#                </button>#}
            </div>
        </form>
{#        <div class="progress mt-3">#}
{#            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"#}
{#                 aria-valuemin="0" aria-valuemax="100" style="width: 75%" id="progress"></div>#}
{#        </div>#}
        <div>
            <div class="thumbnail">
                <a href="/static/plots/{{ plot_fn }}">
                    <img src="/static/plots/{{ plot_fn }}" onerror="this.style.display='none'" alt="Plot"
                         style="width:100%">
                </a>
            </div>
        </div>
    </div>
    <!-- Plot Modal -->
    <div class="modal fade" id="evaluateModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Result of the evaluation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="thumbnail">
                            <a href="/static/plots/{{ plot_fn }}">
                                <img src="/static/plots/{{ plot_fn }}" alt="Plot" style="width:100%">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- AR Modal -->
    <div class="modal fade" id="ARParamsModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">AR parameters</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> The AR parameters are the <b>regression coefficients</b> of the Autoregressive Moving Average
                        process you want to simulate.
                        For example, if the ARMA(2,1) process you want to generate is the following:
                        $$ Y_t = 0.33 Y_{t-1} + 0.5 Y_{t-2} + U_t + 0.2 U_{t-1}\,,$$
                        you are required to insert in this field
                        $$0.33,0.5$$
                        Leave this field empty if you want to simulate a Moving Average process.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MA Modal -->
    <div class="modal fade" id="MAParamsModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">MA parameters</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> The MA parameters are the <b>memory weights</b> of the Autoregressive Moving Average process you
                        want to simulate.
                        For example, if the ARMA(2,1) process you want to generate is the following:
                        $$ Y_t = 0.33 Y_{t-1} + 0.5 Y_{t-2} + U_t + 0.2 U_{t-1}\,,$$
                        you are required to insert in this field
                        $$0.2$$
                        Leave this field empty if you want to simulate an Autoregressive process.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Variance Modal -->
    <div class="modal fade" id="varianceModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Variance</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> The variance of the <b>white noise</b> (i.e. \(U_t\) ) of the Autoregressive Moving Average
                        process you want to simulate. If you want a standard weak white noise, leave this field to \( 1
                        \).
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Number of samples Modal -->
    <div class="modal fade" id="tmaxModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Number of samples</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>The number of samples included <b>in each dataset</b>. Notice that a small number of samples may
                        cause
                        the maximization algorithm not to converge leading to a failure.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Number of tests Modal -->
    <div class="modal fade" id="nModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Number of tests</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>The number of <b>total tests performed</b> by this tool. A high number of tests may increase
                        accuracy
                        but would require more time to obtain a result.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Library Modal -->
    <div class="modal fade" id="libraryModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Library</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p> The default and recommended library is <b><a href="https://www.statsmodels.org">Statsmodels</a></b>.
                    </p>
                    <p><i class="fa fa-warning"></i> WARNING: We are currently developing also a custom library (labeled
                        "<b>Experimental</b>") but it is still unstable and has been tested only for ARMA models with
                        variance 1. Running it with "Evaluate Estimations" feature <b>may require several minutes</b>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{#    <script>#}
{#        function update() {#}
{#            var element = document.getElementById("progress");#}
{#            var width = 1;#}
{#            var identity = setInterval(scene, 10);#}
{##}
{#            function scene() {#}
{#                if (width >= 100) {#}
{#                    clearInterval(identity);#}
{#                } else {#}
{#                    width++;#}
{#                    element.style.width = width + '%';#}
{#                }#}
{#            }#}
{#        }#}
{#    </script>#}
{% endblock content %}

