{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2"
                   href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }} (UTC)</small>
                <div>
                    <button class="btn btn-info btn-sm m-1 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Export Data
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('posts.download_dataset', filename=post.id) }}">Original
                            Dataset (.csv)</a>
                        <a class="dropdown-item disabled" href="#">Analysis (.pdf)</a>
                        <a class="dropdown-item disabled" href="#">Analysis (.tex)</a>
                    </div>
                    {% if post.author == current_user %}
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                                data-target="#deleteModal">Delete
                        </button>
                    {% endif %}
                    <!-- Private / Public flag-->
                    {% if post.is_private %}
                        <span class="text-muted float-right mr-3">Private <i class="fa fa-lock"></i></span>
                    {% else %}
                        <span class="text-muted float-right mr-3">Public <i class="fa fa-unlock"></i></span>
                    {% endif %}
                </div>
            </div>
            <!-- Title -->
            {% if post.title %}
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">
                    {{ post.title }}
                </a></h2>
            {% else %}
                <!-- Display default title -->
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">
                    ARMA({{ post.p }}, {{ post.q }}) analysis
                </a></h2>
            {% endif %}
            <!-- Description -->
            {% if post.description %}
                <legend class="border-bottom mb-4">Description</legend>
                <p class="article-content">{{ post.description }}</p>
            {% endif %}
            <!-- Estimation -->
            <legend class="border-bottom mb-4">Estimation of parameters</legend>
            <p class="article-content">The user identified the given dataset as an ARMA({{ post.p }}, {{ post.q }}).
                We know that the process fulfills the following equation</p>
            <p style="text-align:center">\( Y_t = \)
                {% for i in range(1, post.p + 1) %}
                    \( \phi_{ {{ i }} } Y_{t- {{ i }} } + \)
                {% endfor %}
                \( U_t \)
                {% for j in range(1, post.q + 1) %}
                    \( + \theta_{ {{ j }} } U_{t- {{ j }} } \)
                {% endfor %}\(\,.\)</p>
            <p> The parameter estimation yields the following parameters</p>
            <p style="text-align:center">
                {% for i in range(1, post.p + post.q + 1) %}
                    {% if i < post.p + 1 %}
                        \( \phi_ {{ i }} =  {{ post.result.split(',')[i - 1] }} \)
                    {% else %}
                        \( \theta_ {{ i - post.p }} =  {{ post.result.split(',')[i - 1] }} \)
                    {% endif %}
                    {% if i != post.p + post.q %}
                        ,
                    {% endif %}
                {% endfor %}\(\,.\)
            </p>
            <p>The estimated variance of the residuals is</p>
            <p style="text-align:center">
                $$ \sigma^2 = {{ post.sigma2 }} \,.$$
            </p>
            <p>The standard error is is</p>
            <p style="text-align:center">
                $$ SE = {{ post.stderr }} \,.$$
            </p>
            <!-- Plots -->
            <legend class="border-bottom mb-4">Plots</legend>
            In this section are displayed several plots useful for the dataset analysis.
            <!-- Dataset plot -->
            <div class="thumbnail">
                <a href="/static/plots/{{ post.id }}.png">
                    <img src="/static/plots/{{ post.id }}.png" alt="Plot" style="width:100%">
                </a>
            </div>
            <!-- PACF plot -->
            <div class="thumbnail">
                <a href="/static/plots/{{ post.id }}-pacf.png">
                    <img src="/static/plots/{{ post.id }}-pacf.png" alt="Plot" style="width:100%">
                </a>
            </div>
            <!-- ACF plot -->
            <div class="thumbnail">
                <a href="/static/plots/{{ post.id }}-acf.png">
                    <img src="/static/plots/{{ post.id }}-acf.png" alt="Plot" style="width:100%">
                </a>
            </div>
        </div>
        <img class="rounded-circle article-img"
             src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    </article>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

