{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2"
                       href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }} (UTC)</small>
                    <!-- Private / Public flag-->
                    {% if post.is_private %}
                        <span class="text-muted float-right mr-3">Private <i class="fa fa-lock"></i></span>
                    {% else %}
                        <span class="text-muted float-right mr-3">Public <i class="fa fa-unlock"></i></span>
                    {% endif %}
                </div>
                <!-- Title -->
                {% if post.title %}
                    <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">
                        {{ post.title }}
                    </a></h2>
                {% else %}
                    <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">
                        ARMA({{ post.p }}, {{ post.q }}) estimation
                    </a></h2>
                {% endif %}
                <p class="article-content">Parameter estimation for an ARMA({{ post.p }}, {{ post.q }}) time series.

                    (<a href="{{ url_for('posts.post', post_id=post.id) }}">Read more</a>)</p>
                <div class="thumbnail">
                    <a href="/static/plots/{{ post.id }}.png">
                        <img src="/static/plots/{{ post.id }}.png" alt="Plot" style="width:100%">
                    </a>
                </div>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.history', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4"
                   href="{{ url_for('main.history', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}

