{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4">Homepage</legend>
        <p><b>SOWA</b> (<i>Stochastic Optimizer Web Application</i>) is a Web application for <b>time series parameter
            estimation</b> written in Python with the Flask framework. The estimations are performed making use of <b>Kalman
            Filter</b> and <b>Maximum-Likelihood Estimation</b>.
            <br><br>
            This website has been created by Roberto Pizziol in the scope of his MSc thesis «<i>Parameter Estimation
                Methods for Stochastic Models of Time Series</i>» at the University of Rome Tor Vergata.
        </p>
    </div>
    <div class="content-section">
        <legend class="border-bottom mb-4">Further developments</legend>
        <p>This website is still work in progress. We are planning to introduce several new features in the future, some
            of them being:
        <ul>
            <li>GARCH Dataset Creation</li>
            <li>Expectation-Maximization algorithm</li>
            <li>Diffuse initialization</li>
            <li>Model Identification</li>
            <li>Model Diagnostic Check</li>
            <li>Comparison with Machine Learning</li>
            <li>Discretization of continuous models</li>
            <li>Post export in tex and pdf format</li>
        </ul>
        </p>
    </div>
    <div class="content-section">
        <legend class="border-bottom mb-4">References</legend>
        <p>The main references for this thesis are:
            <ul>
                <li>
        <p><i class="fa fa-book mr-2"></i> Harvey: Forecasting, structural time series and the Kalman filter.
            (1990)</p></li>
        <li><p><i class="fa fa-book mr-2"></i> Hamilton: Time Series Analysis. (1994)</p></li>
        <li><p><i class="fa fa-book mr-2"></i> Durbin and Koopman: Time series analysis by state space methods.
            (2012)</p></li>
        </ul>
        </p>
    </div>
    <div class="content-section">
        <legend class="border-bottom mb-4">Contacts and links</legend>
        <p><i class="fa fa-envelope-o mr-2"></i>roberto.pizziol(at)gmail.com</p>
        <p><i class="fa fa-gitlab mr-2"></i><a href="https://gitlab.com/rpizziol">gitlab.com/rpizziol</a></p>
        <p><i class="fa fa-code mr-2"></i><a href="https://gitlab.com/rpizziol/sowa">gitlab.com/rpizziol/sowa</a></p>
    </div>
{% endblock content %}