{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Oops. Access Denied (403)</h1>
        <p>It seems like you don't have permission to do that. Please check your account and try again.</p>
    </div>
{% endblock content %}