<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Icon and text in the tab bar -->
    <link rel="icon" href="{{ url_for('static', filename='sowa_icon.png') }}">
    {% if title %}
        <title>SOWA - {{ title }}</title>
    {% else %}
        <title>SOWA</title>
    {% endif %}

    <!-- Math formulas -->
    <SCRIPT SRC='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></SCRIPT>
    <SCRIPT>MathJax.Hub.Config({tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}})</SCRIPT>
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a href="/"><img class="navbar-toggler-icon mr-2"
                             src="{{ url_for('static', filename='sowa_icon.png') }}" alt="sowa_icon"></a>
            <a class="navbar-brand mr-4" href="/">SOWA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link m-1" href="{{ url_for('main.home') }}">Home</a>
                    <a class="nav-item nav-link m-1" href="{{ url_for('main.history') }}">All Posts</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link m-1" href="{{ url_for('posts.estimate_parameters') }}">Analysis</a>
                        <!-- Dataset generator dropdown -->
                        <li class="nav-item dropdown m-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tools
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="{{ url_for('posts.generate_dataset') }}">Create ARMA
                                    Dataset</a>
                                <a class="dropdown-item disabled" href="#">Create GARCH Dataset</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('posts.estimations_evaluator') }}">Evaluate
                                    Estimations</a>
                            </div>
                        </li>
                        <!-- Account dropdown -->
                        <li class="nav-item dropdown m-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item"
                                   href="{{ url_for('users.user_posts', username=current_user.username) }}">My Posts</a>
                                <a class="dropdown-item" href="{{ url_for('users.account') }}">Edit Account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <!-- Sidebar -->
        <div class="col-md-4">
            <div class="content-section">
                <h3>Theory</h3>
                <p class='text-muted'>You may need more information about these topics:
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="#armaModal" data-toggle="modal">The ARMA
                        model</a></li>
                    <li class="list-group-item list-group-item-light"><a href="#ssmModal" data-toggle="modal">The State
                        Space Model</a></li>
                    <li class="list-group-item list-group-item-light"><a href="#kfModal" data-toggle="modal">The Kalman
                        Filter</a></li>
                    <li class="list-group-item list-group-item-light"><a href="#mleModal" data-toggle="modal">Maximum
                        Likelihood Estimation</a></li>
                    <li class="list-group-item list-group-item-light"><a href="#emModal" data-toggle="modal">Expectation-Maximization
                        algorithm</a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>


<!-- ARMA Modal -->
<div class="modal fade" id="armaModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">The ARMA model</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" align="justify">
                <p> A univariate <b>Autoregressive Moving Average (ARMA) model</b> describes a stationary
                    stochastic process
                    integrating
                    two parts: an <i>autoregressive (AR) process</i>, for which the output variable depends linearly on
                    some of its own previous samples, and a <i>Moving Average (MA) process</i>, for which the output
                    variable
                    depends linearly on the current and various past values of a stochastic term (white noise).</p>


                <!-- The ARMA
                    model
                    is identified by means of two parameters \((p,q)\): the parameter \(p\) represents the most delayed
                    sample of the output variable in the AR part and the parameter \(q\) represents the most delayed
                    sample of the white noise in the MA part. -->

                <p>The random variable \(Y\) is an \(ARMA(p,\,q)\) process if it fulfils the equation
                    $$ Y_t=\phi_1Y_{t-1}+\cdots+\phi_pY_{t-p}+U_t\\
                    +\theta_1 U_{t-1}+\cdots+\theta_qU_{t-q}\,,\quad\forall
                    t\in\mathbb Z\,, $$
                    where \(\phi_1,\ldots,\phi_p\in\mathbb{R}\) are parameters referred to as <i>regression
                        coefficients</i> of the process \(Y\) and \(\theta_1,\ldots,\theta_q\in\mathbb{R}\) are
                    parameters referred
                    to as <i>memory weights</i> of the process \(Y\). The parameters \(p\) and \(q\) are called the
                    <i>autoregressive</i> and the <i>moving average orders</i>, respectively.</p>

                <legend class="border-bottom">Stationarity and causality</legend>
                <p>
                    To guarantee the stationarity and causality of the process \(Y\) we restrict the regression
                    coefficients such that the zeros of the polynomial
                    $$ z^p+\phi_1 z^{p-1} + \ldots + \phi_{p-1} z + \phi_p\,, $$
                    lie in \(|z| < 1\). In the same way, to guarantee the invertibility of the process \(Y\) we restrict
                    the
                    memory weights such that the zeros of the polynomial
                    $$ z^q+\theta_1 z^{q-1} + \ldots + \theta_{q-1} z + \theta_q\,,$$
                    lie in \(|z| < 1\).</p>

                <legend class="border-bottom">Link between AR and MA</legend>
                <p>We can derive the \(AR(p)\) model simply writing \(q=0\) in the ARMA model equation, obtaining

                    $$Y_t=\phi_1Y_{t-1}+\cdots+\phi_pY_{t-p}+U_t\,,\quad\forall t\in\mathbb Z\,.$$

                    In the same way, we can derive the \(MA(q)\) model, writing \(p=0\) in the ARMA model equation,
                    obtaining
                    $$ Y_t=U_t+\theta_1 U_{t-1}+\cdots+\theta_qU_{t-q}\,,\quad\forall t\in\mathbb Z\,. $$</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Kalman Filter Modal -->
<div class="modal fade" id="kfModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">The Kalman Filter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" align="justify">
                <p>The <b>Kalman Filter</b> is a recursive algorithm that, starting from a series of measurements
                    observed over time, produces estimates of unknown variables. These estimates are more accurate than
                    those based only on the observed measurements because the algorithm cyclically estimates a joint
                    probability distribution over the variables for each time frame. At the beginning of each cycle,
                    based on the estimates of the previous cycle \((\hat X_{t-1}\,,P_{t-1})\), a new prediction is made
                    \((\hat X_{t\mid t-1}\,,P_{t\mid t-1})\). Then these predictions are updated when a new observed
                    measurement \(Y_t\) is available, giving the final estimates for the current cycle \((\hat X_t,\,
                    P_t)\). The delay block represents the time lag between consecutive cycles (and between
                    observations).</p>

                <div class="thumbnail">
                    <img src="/static/kf.jpg" alt="The Kalman Filter" style="width:100%">
                </div>

                <legend class="border-bottom">Compact form</legend>
                <p> The <i>compact form</i> of the Kalman filter for an ARMA model is given by the equations

                    \begin{equation}
                    \begin{split}
                    \hat{X}_t &= L_t \hat{X}_{t-1} + K_t Y_t\\
                    P_t &= L_t P_{t-1} F^\intercal + Q - K_t G Q\,.
                    \end{split}
                    \end{equation}

                    where
                    \begin{equation}
                    \begin{split}
                    L_t &\equiv F - K_t G F\,,\\
                    K_t &= F P_{t-1} F^\intercal G^\intercal H_t^{-1} + Q G^\intercal H_t^{-1}\,\\
                    H_t &= G F P_{t-1} F^\intercal G^\intercal + G Q G^\intercal + R\,.
                    \end{split}
                    \end{equation}

                    \(K_t\) is called <i>gain matrix</i> and \(H_t\) is called <i>state innovation covariance</i>. \(Q\)
                    and
                    \(R\) are, respectively, the covariance of \(V\) and of \(W\).
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- The State Space Model Modal -->
<div class="modal fade" id="ssmModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">The State Space Model</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" align="justify">
                <p>
                    The <i>State Space Model</i> (SSM) describes the dependence of an observed variable \(Y\) (<i>observation
                    process</i>) and a hidden, latent variable \(X\) (<i>state process</i>), whose realizations are not
                    observable. SSM is a linear two-layers model: the external layer involves the observed process
                    \(Y\),
                    while the internal one involves the unobserved process \(X\).</p>

                <legend class="border-bottom">SSM for an ARMA</legend>
                <p>For an ARMA model, the parameters of a corresponding SSM are time-invariant. The evolution of \(X\)
                    is
                    described by the <i>state equation</i>
                    \begin{equation}
                    X_t=F X_{t-1}+V_t\,, \quad \forall t\in \mathbb{N}\,,
                    \end{equation}
                    where \(F\) is a deterministic matrix, called the <i>transition matrix</i>, and \((V_t)_{t \in
                    \mathbb
                    N} \equiv V\) is a serially uncorrelated sequence with mean zero, called the <i>state innovation
                        process</i>, also written as \(TZ_t\), where \(T\) is a deterministic matrix and \((Z_t)_{t \in
                    \mathbb N}\)
                    is a serially uncorrelated sequence with mean zero.

                    The evolution of \(Y\) is described by the <i>observation equation</i>
                    \begin{equation}
                    Y_t=GX_t+W_t\,, \quad \forall t\in \mathbb{N}\,,
                    \end{equation}
                    where \(G\) is a deterministic matrix, called the <i>design matrix</i>, and \((W_t)_{t \in \mathbb
                    N}
                    \equiv W\) is a serially uncorrelated sequence with mean zero, called the <i>measurement error
                        process</i>.

                    These two equations form together the <b>State-Space model</b> for an ARMA process
                    \begin{equation}
                    \boxed{
                    \begin{aligned}
                    X_t &=FX_{t-1}+V_t,\quad \forall t\in \mathbb{N}\,,\\
                    Y_t &=GX_t+W_t,\quad \forall t\in \mathbb{N}\,.
                    \end{aligned}}
                    \end{equation}

                    AR, MA, and ARMA processes can have different SSM forms. The regression coefficients
                    \(\phi_1,\ldots,\phi_p\) and the memory weights \(\theta_1,\ldots,\theta_q\) of the process \(Y\)
                    are
                    included as parameters in some of the system matrices \(F, G, T\).</p>

                <p>For the <i>initial state</i> \(X_0\) it is assumed that
                    \begin{equation}
                    E[X_0]\equiv\mu_0\,,\quad Var(X_0)\equiv\Sigma_0\,,
                    \end{equation}
                    where \(\Sigma_0\) is a symmetric and positive definite matrix.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- MLE Modal -->
<div class="modal fade" id="mleModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">The Maximum Likelihood Estimation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" align="justify">
                <p>When the parameters \(\phi\) and \(\theta\) of an ARMA process are unknown, they can be estimated
                    from
                    the observations \(Y_t\) maximizing the likelihood function or its log.

                    This function can be formed starting from the SSM of the ARMA process and including all the
                    observations \(Y_t\). The following <i>Prediction Error Decomposition</i> form of the likelihood
                    function is useful for this task

                    \begin{equation}
                    \begin{split}
                    \log \mathcal L(\psi;y)&=-\frac{T}{2}\log (2\pi)-\frac{1}{2}\sum_{t=1}^{T}\log{\det (H_t)}\\
                    &-\frac{1}{2}\sum_{t=1}^{T}(v_t^\intercal H_t^{-1}v_t)\,,\quad\forall t\in\mathbb{N}
                    \end{split}
                    \end{equation}

                    where \(\psi \equiv (\psi_1, \ldots, \psi_m)^\intercal\) is the vector of unknown parameters
                    (\(\phi\)
                    and/or \(\theta\)), \(T\) is the number of samples \(Y_t\), \(H_t\) is the state innovation
                    covariance, and
                    \(v_t\) is a linear function of \(Y_t\).
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- EM Modal -->
<div class="modal fade" id="emModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">The Expectation-Maximization algorithm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" align="justify">
                <p> The <i>Maximum Likelihood Estimation (MLE)</i> algorithm estimates the unknown parameters by means
                    of numerical methods. The <i>Expectation-Maximization (EM)</i> algorithm instead uses explicit
                    formulas for the estimations. The EM algorithm works in an iterative way and it is widely used
                    with the State Space Model. The EM algorithm can be used in place of the MLE algorithm.
                    The algorithm consists of a two steps procedure
                <ul>
                    <li>An E-step (evaluation of a conditional expectation)</li>
                    <li>A M-step (maximization of the expectation with respect to the system parameters)</li>
                </ul>
                These two steps are iterated until a given threshold is reached.

                The basic idea is that if, in addition to the observations of \(Y_t\), also the values of the state
                variable \(X_t\) could be observed, then in the joint density function we can consider the complete
                data
                \begin{equation}
                f_{x,y}(\psi)=f_{x\mid y}(\psi)f_y(\psi)\,.
                \end{equation}
                where \(\psi \equiv (\psi_1, \ldots, \psi_m)^\intercal\) is the vector of unknown parameters (\(\phi\)
                and/or \(\theta\)). With this assumption, all the unknown parameters can be explicitly expressed in
                terms of the number of observations \(T\), the observations \(Y_t\) and others values evaluated using
                the Kalman filter and two of its applications, the <I>Kalman smoother</I> and the <i>Lag-One
                Covariance smoother</i>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>